doc-apache-cocoon-2/fuentes/reunionSemanal.dtd.txt

<!ELEMENT reunionSemanal (informacionGeneral, agenda?, informesPorRol?)>

<!ELEMENT informacionGeneral (sitio, fecha, horaInicio, horaFin, secretario, asistente+)>
<!ELEMENT sitio (#PCDATA)>
<!ELEMENT fecha (#PCDATA)>
<!ELEMENT horaInicio (#PCDATA)>
<!ELEMENT horaFin (#PCDATA)>
<!ELEMENT secretario (#PCDATA)>
<!ELEMENT asistente (#PCDATA)>

<!ELEMENT agenda (aspectos)>
<!ELEMENT aspectos (aspecto+)>
<!ELEMENT aspecto (descripcion, propuestas?)>
<!ELEMENT descripcion (#PCDATA)>
<!ELEMENT propuestas (propuesta+)>
<!ELEMENT propuesta (textoPropuesta, decision?)>
<!ATTLIST propuesta aprobado (Si | No) "No">
<!ELEMENT textoPropuesta (#PCDATA)>
<!ELEMENT decision (#PCDATA)>

<!ELEMENT informesPorRol (informePorRol+)>
<!ELEMENT informePorRol (#PCDATA)>
<!ATTLIST informePorRol rol (lider | calidad | planeacion | soporte | desarrollo) #REQUIRED>
